 *{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
footer{
    background-color:#000;
    height: 50vh;
}

.footer{
   
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
    
}
.footer ul li{
    color: white;
}
.footer-first h1{
    color: white;
    font-size: 4.5rem;
   text-align: center;
}
.footer-sec ul{
    font-size: 2rem;
}
.footer-sec li{
    padding: 10px 0 ;
    list-style-type: none;
    padding-right: 1rem;
    cursor: pointer;
}

.footer-rights{

font-size: 1.5rem;
background-color: #000;
color: #fff;
text-align: center;
}


.socialsfoot{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left:2rem
}
.socialsfoot a{
    
    height: 3.8rem;
    width: 3.8rem;
  
    background: transparent;

    font-size: 2rem;
    color: var(--text-color);
    margin: 3rem 1rem 2rem 0;
    transition: 0.5s ease;
    text-decoration: none;
}
.topbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btntop{
    display: flex;
    align-items: center;
    justify-content: center;
    
     width: 7rem;
     height: 4rem;
    padding: 0.8rem 1rem;
    background: #7843E9;
    border-radius: 0.8rem;
    transition: 0.5s ease;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

/* Mobile devices (320px - 480px) */
@media (max-width: 480px) {
    footer{
        height: 30vh;
    }
    .footer-rights{
        /* padding-top: 8%; */
        font-size: 1rem;
    }
    .footer-first h1{
        font-size: 2rem;
    }
    .socialsfoot a{
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .btntop{
width: 5rem;
     height: 3rem;
       padding: 0.5rem 0.6;
    }
}
 /* Tablets (481px - 768px) */
 @media (min-width: 481px) and (max-width: 768px) {
   footer{
        height: 40vh;
    }
    .footer-rights{
        /* padding-top: 8%; */
        font-size: 1rem;
    }
    .footer-first h1{
        font-size: 3rem;
    }
 }
 /* Small screens, laptops (769px - 1024px) */
 @media (min-width: 769px) and (max-width: 1024px) {
    
 }   
      

      
