 *{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}
footer{
    background-color: #000033;
    height: 40vh;
}

.footer-first{
    padding-top: 2rem;
   display: flex;
   flex-direction: row;

    
}

.footer-first h1{
    color: white;
    font-size: 2rem;
   text-align: center;
  
   
}

.footer-rights{

font-size: 1.2rem;
background-color: #000033;
color: #fff;
text-align: center;
}

.secinner{
padding-top: 1rem;
font-size: 1.2rem;
}
.sec1{
    display: flex;
    flex-direction: column;
    
}
.sec3{
    margin-left: 10rem;
}
.sec2{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
   margin-left: 5rem;
}
.sec2 .secinner,.socialsfoot{
    margin-left: 6rem;
}
.secinner p{
   
    margin-left: 2rem;

    color: #b9b6b6;
}
.sec1 .secinner p{
    margin-left: 10rem;
    padding-bottom: .4rem;
}
.sec2 h1{
    margin-left: 0;
    padding-left: 0;
}
.line {
    width: 90%;
    height: 1px;
    background-color: #333;
    margin-left: 5rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
.innericon{
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: .4rem;
}
.sec3 ul {
    padding-top: 1rem;
}
.sec3 ul li {
    text-decoration: none;
    cursor: pointer;
    list-style-type: none;
    padding-bottom: .4rem;
    font-size:1.2rem ;
   
}
.sec3 ul li a{
    color:#b9b6b6; 
}
.socialsfoot{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}
.socialsfoot a{
    
    height: 3.8rem;
    width: 3.8rem;
  
    background: transparent;

    font-size: 2rem;
    color: var(--text-color);
    margin: 0 1rem 1.6rem 0;
    transition: 0.5s ease;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btntop{
    display: flex;
    align-items: center;
    justify-content: center;
    
     width: 7rem;
     height: 3rem;
    padding: 0.8rem 1rem;
    background: #7843E9;
    border-radius: 0.8rem;
    transition: 0.5s ease;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

/* Mobile devices (320px - 480px) */
@media (max-width: 480px) {
    footer{
        height: 100vh;
    }
   .footer-first{
        flex-direction: column;
        
        align-items: flex-start;
        justify-content: flex-start;
        
    }
    .sec1 h1{
        margin-left: 0;
    }
    .sec3{
        margin-left: 2rem;
        align-items: center;
    }
    .sec1 .secinner p{
        margin-left: 2rem;
        padding-bottom: .8rem;
    }
    .sec2{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        margin-left: 0;

    }
   
    .secinner p{
   
        margin-left: 1rem;
        padding-bottom: 0.4rem;
    }
    .secinner{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-right: 0;
    }
    .innericon{
       margin: 0;
       margin-left: 0;
    }
    .line {
        margin: 0 auto;
    }
    .socialsfoot {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between; 
    }

    .socialsfoot a {
        height: 2.8rem;
        width: 2.8rem;
        margin: 0 0.5rem; 
    }
    
    .sec2 .secinner,.socialsfoot{
        margin-left: 2rem;
    }
}
 /* Tablets (481px - 768px) */
 @media (min-width: 481px) and (max-width: 768px) {
   footer{
        height: 100vh;
    }
    .footer-first{
     
        flex-direction: column;
    }
    .footer-rights{
        
        font-size: 1rem;
    }
    .footer-first h1{
        font-size: 3rem;
        text-align: left;
    }
    .sec1 h1{
        margin-left: 2rem;
    }
    .sec3{
        margin-left: 2rem;
        align-items: center;
    }
    
    .secinner p{
   
        margin-left: 2rem;
        
    }
    
    .sec1 .secinner p{
        margin-left: 2rem;
        padding-bottom: .8rem;
    }
    .sec2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .sec2 .secinner,.socialsfoot{
        margin-left: 0;
    }
    .sec2 {
        margin: 0;
        padding: 0;
        text-align: left;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 2rem;
    }
    .innericon{
        margin-left: 2rem;
    }
    
    .line {
        margin: 1rem auto;
    }
 }
 /* Small screens, laptops (769px - 1024px) */
 @media (min-width: 769px) and (max-width: 1024px) {
    
 }   
      

      
